<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

<head>
 <script type="application/ld+json"> 
 {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "Leonardo Egidi",
    "jobTitle": "Assistant Professor of Statistics",
    "affiliation": {
        "@type": "Organization",
        "name": "University of Trieste"
    },
    "url": "https://leoegidi.github.io",
    "sameAs": [
        "https://scholar.google.com/citations?user=Ux1LY_Qx7T8C&hl=it&oi=ao",
        "https://it.linkedin.com/in/leonardo-egidi-ba466261",
        "https://deams.units.it/it/dipartimento/persone/personale-docente?q=it/node/45071",
        "https://orcid.org/0000-0003-3211-905X",
        "https://adsai.units.it/people/faculty/leonardo-egidi/",
        "https://github.com/LeoEgidi",
        "https://statmodeling.stat.columbia.edu/author/leo/",
        "https://arts.units.it/simple-search?query=leonardo+egidi",
        "https://arxiv.org/search/stat?searchtype=author&query=Egidi%2C+L",
        "https://www.triestenext.it/relatori/leonardo-egidi/", 
        "https://www.researchgate.net/profile/Leonardo-Egidi",
        "https://www.scopus.com/authid/detail.uri?authorId=57195512567",
         
     ]
  }
 </script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

  <body>

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script src='{{ site.baseurl }}/public/js/script.js'></script>
  </body>

<body class="theme-base-08">
  ...
</body>

<nav>
  <ul>
    {% for item in site.navigation %}
      <li><a href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
  </ul>
</nav>



</html>








